<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942052023072-1ecp6vl92k28837h4ocqkbv8gls42n4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942052023072-1ecp6vl92k28837h4ocqkbv8gls42n4t</string>
	<key>API_KEY</key>
	<string>AIzaSyAsEbxN0spTdupHzjS7FQejxR8VPKM6I1c</string>
	<key>GCM_SENDER_ID</key>
	<string>942052023072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ibhasin.ZCrypto</string>
	<key>PROJECT_ID</key>
	<string>zcrypto-77bb2</string>
	<key>STORAGE_BUCKET</key>
	<string>zcrypto-77bb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942052023072:ios:55b23a124fb03fca971545</string>
</dict>
</plist>